#main{
    padding: 10px;
    margin: 10px;
}
h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cc{
    display: flex;
   gap: 15px;
   height: 30px;
    flex-direction: row;
}
#add-todo-btn{
    padding: 5px;
}
#incr-cnt{
    padding: 5px;
}
#skill-input{
    padding: 5px;
}